<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ym.async.image.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher" >
    </application>

</manifest>
